/*
 * Copyright (c) 2018 Edgar Bernardi Righi
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/dts-v1/;

#include "owl-s500.dtsi"

/ {
	compatible = "caninos,labrador", "actions,s500";
	model = "Caninos Labrador";

	aliases {
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial3:115200n8";
	};

	uart3_clk: uart3-clk {
		compatible = "fixed-clock";
		clock-frequency = <921600>;
		#clock-cells = <0>;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	mmc@b0238000 {
		card_type = "emmc";
		status = "okay";
	};
};

&uart3 {
	status = "okay";
	clocks = <&uart3_clk>;
};

&timer {
	clocks = <&hosc>;
};

